# Common folders that should not be pushed to GitHub
node_modules/
.next/
.next/cache/
.env.local/
next-env.d.ts/
coverage/
cypress/videos/
cypress/screenshots/
dist/
out/
build/
.parcel-cache/
.cache/
.vscode/
.idea/

